* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.body {
  background-color: #AEAAFF;
}
.body .header {
  background-color: #837DFA;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.body .header .logo-estenis {
  text-align: center;
  flex-basis: 50px;
}
.body .header .logo-estenis img {
  width: 200px;
  border-radius: 15px;
  padding: 3px;
}
.body .header .nav-bar .lista-navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  list-style: none;
}
.body .header .nav-bar .lista-navbar .item-lista {
  background-color: #06007A;
  text-align: center;
  padding: 10px;
  border: solid 2px white;
  border-radius: 10px;
  margin: 5px;
}
.body .header .nav-bar .lista-navbar .item-lista:hover {
  background-color: #4C45CF;
}
.body .header .nav-bar .lista-navbar .item-lista .item-lista-link {
  padding: 50px;
  margin: auto;
  color: #4C45CF;
  text-decoration: none;
}
.body .header .nav-bar .lista-navbar .item-lista .item-lista-link:hover {
  color: #06007A;
}
.body .header .whatsapp-btn-container {
  background-color: aqua;
  flex-basis: 150px;
  text-align: center;
}
.body .header .whatsapp-btn-container .whatsapp-btn {
  color: #4C45CF;
  text-decoration: none;
}
.body main {
  text-align: center;
}
.body main .text h1 {
  color: #FFF1AA;
  text-align: center;
  background-color: #06007A;
}
.body main .text .lista-partidos {
  padding: 0;
  text-align: center;
}
.body main .text .lista-partidos .item-categoria {
  list-style-type: none;
  background-color: #110F3B;
  color: #FFF1AA;
  width: 100%;
}
.body main .text .lista-partidos .item-partido {
  list-style-type: none;
  background-color: white;
}
.body main .text .lista-partidos .item-partido:hover {
  background-color: #AEAAFF;
}
.body main .container-tabla {
  border: solid 1px black;
  background-color: #837DFA;
}
.body main .container-tabla .tabla-resultados {
  margin: auto;
  width: 100%;
}
.body main .container-tabla .tabla-resultados thead {
  background-color: #837DFA;
}
.body main .container-tabla .tabla-resultados tbody tr {
  background-color: #06007A;
  color: #FFF1AA;
}
.body main .container-tabla .tabla-resultados tbody tr:hover {
  background-color: #110F3B;
}
.body main .container-tabla .tabla-resultados tbody td {
  border: solid 1px black;
}

@media screen and (max-width: 992px) {
  .body .header {
    background-color: #837DFA;
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
  }
  .body .header .nav-bar .lista-navbar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .body .header .whatsapp-btn-container .whatsapp-btn {
    color: #4C45CF;
    text-decoration: none;
  }
  .footer {
    display: flex;
    flex-direction: column;
  }
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.body {
  background-color: #AEAAFF;
}
.body .header {
  background-color: #837DFA;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.body .header .logo-estenis {
  text-align: center;
  flex-basis: 50px;
}
.body .header .logo-estenis img {
  width: 200px;
  border-radius: 15px;
  padding: 3px;
}
.body .header .nav-bar .lista-navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  list-style: none;
}
.body .header .nav-bar .lista-navbar .item-lista {
  background-color: #06007A;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
}
.body .header .nav-bar .lista-navbar .item-lista:hover {
  background-color: #4C45CF;
}
.body .header .nav-bar .lista-navbar .item-lista .item-lista-link {
  color: #4C45CF;
  text-decoration: none;
}
.body .header .nav-bar .lista-navbar .item-lista .item-lista-link:hover {
  color: #06007A;
}
.body .header .whatsapp-btn-container {
  background-color: aqua;
  flex-basis: 150px;
  text-align: center;
}
.body .header .whatsapp-btn-container .whatsapp-btn {
  color: #4C45CF;
  text-decoration: none;
}
.body #carouselExampleCaptions {
  width: 600px;
  border: solid 3px #000000;
  margin: 5px auto;
}
.body #carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption {
  color: #000000;
}
.body .footer {
  background-color: #837DFA;
  text-align: center;
  border: 1px solid #110F3B;
  margin-top: 25px;
}
.body .footer .comercios-auspicios .logo-comercio {
  width: 150px;
}

@media screen and (max-width: 992px) {
  .body .header {
    background-color: #837DFA;
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
  }
  .body .header .nav-bar .lista-navbar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .body .header .whatsapp-btn-container .whatsapp-btn {
    color: #4C45CF;
    text-decoration: none;
  }
  .body #carouselExampleCaptions {
    width: auto;
  }
}

/*# sourceMappingURL=sytles.css.map */
