$fondo:#EDA76F ;
$naranja: #EDAB3A;
$marron: #B55227;
$azul: #003069;
$verde: #0F374F;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;    
}

.body{
    background-color: $fondo;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    .header{
        display: flex;
        
        background-color: $naranja;
        color: white;
        height: 175px;
        margin: 5px;
        width: auto;
        .logo-estenis{
            img{
                margin: 5px;
                width: 150px;
                height: 150px;
                text-align: right;
            }

            
        }
    }
    .clases{
        display: flex;
        padding: 15px;
        font-weight: 700;
                
        .clases-individuales{
            background-color: $marron;
            color: $verde;
            border: solid 1px black;
            margin: 5px;
            box-shadow: 3px 3px;
        }
        .clases-grupales{
            background-color: $marron;
            color: $verde;
            border: solid 1px black;
            margin: 5px;
            box-shadow: 3px 3px;
        }
        .clases-escuelita{
            background-color: $marron;
            color: $verde;
            border: solid 1px black;
            margin: 5px;
            box-shadow: 3px 3px;
        }
        .boton-contacto{
            display: flex;
            .clases-contacto{
                box-shadow: none;
                background-color: $naranja;
                color: $verde;
                margin: auto;
                
            }
        }
        

        h2{
            text-align: center;
            background-color: $fondo;
            margin: 10px;
            padding: 5px;
        }
        p{
            margin: 5px
        }

        
    }

}