$fondo:#EDA76F ;
$naranja: #EDAB3A;
$marron: #B55227;
$azul: #003069;
$verde: #0F374F;



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;    
}


body{
    background-color: $fondo;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    .header{
        display: flex;
        
        background-color: $naranja;
        color: white;
        height: 175px;
        margin: 5px;
        width: auto;
        .logo-estenis{
            img{
                margin: 5px;
                width: 150px;
                height: 150px;
                text-align: right;
            }

            
        }
    }
    h1{
        background-color: $marron;
        color: white;
        border: solid 2px black;
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
        text-transform: uppercase;
        
    }
    .formulario-inscripcion{
        margin: auto ;
        padding: 15px;
        border: solid 2px $naranja ;
        color: white;
        background-color: $azul;
        max-width: 600px;
        box-shadow: 0px 0px 45px $verde;
    }
    .formulario-input{
        padding: 24px;
        margin: 5px;
        border: solid 2px $naranja;
        max-width: 600px;
        box-shadow: 0px 0px 10px black;
    }
}