*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.body{
    font-family: "Nunito Sans", sans-serif;
    
    
    .formulario-inscripcion{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        background-color: $contenedores;
        box-shadow: inset 3px 3px 45px $contenedores2;
        margin-top: 25px;
        padding: 25px;
        h1{
            background-color: $fondo;
            color: $color-fuente2;
            border: 1px solid $contenedores2;
            text-align: center;
            margin-top: 20px;
            border-radius: 25px;
            width: 100%;
            text-transform: uppercase;
        }
        .formulario-input{
            border: 2px solid black;
            width: 50%;
            text-align: center;
            &:hover{
                border: 2px solid white;
                color: $color-fuente2;
                background-color: $separadores;
            }
            }
    }
}