$fondo: #AEAAFF ;
$contenedores: #837DFA ;
$contenedores2: #06007A ;
$separadores: #110F3B ;
$color-fuente: #4C45CF ;
$color-fuente2: #FFF1AA ;




*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.body{
    background-color: $fondo;
    
    
    main{
        text-align: center;
        .text{
            h1{
                color: $color-fuente2 ;
                text-align: center;
                background-color: $contenedores2;
            }
            .lista-partidos{
                padding: 0;
                text-align: center;
                .item-categoria{
                    list-style-type: none;
                    background-color: $separadores;
                    color: $color-fuente2;
                    width: 100%;
                }
                .item-partido{
                    list-style-type: none;
                    background-color: white;
                    &:hover{
                        background-color: $fondo ;
                    }
                }
            }
        }
        .container-tabla{
            border: solid 1px black;
            background-color: $contenedores;
            .tabla-resultados{
                margin:auto;
                width: 100%;
                thead{
                    background-color: $contenedores;
                    
                    
                }
                tbody{
                    tr{
                        background-color: $contenedores2;
                        color: $color-fuente2;
                        &:hover{
                            background-color: $separadores;
                        } 
                    }
                    td{
                        border: solid 1px black;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 992px ) {
    .body{
        
        .header{
            background-color: $contenedores;
            display: block;
            justify-content: center;
            align-items: center;
            width: 100%;
            gap: 10px;
            .nav-bar{
                
                .lista-navbar{
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    
                }
            }
            .whatsapp-btn-container{
                
                .whatsapp-btn{
                    color: $color-fuente;
                    text-decoration: none;
                }
            }
        }
    }
    .footer{
        display: flex;
        flex-direction: column;
    }
}