$fondo:#EDA76F ;
$naranja: #EDAB3A;
$marron: #B55227;
$azul: #003069;
$verde: #0F374F;



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;    
}

body{
    display: grid;
    grid-template-rows: auto auto;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    
    .header{
        display: flex;
        
        background-color: $naranja;
        color: white;
        height: 175px;
        margin: 5px;
        width: auto;
        .logo-estenis{
            img{
                margin: 5px;
                width: 150px;
                height: 150px;
                text-align: right;
            }

            
        }
        nav{
        
            .lista-navbar{
               
                
                
                .item-lista{
                    display: inline;
                    
                    list-style: none;
                    a{
                        
                        padding: 15px;
                        color: $verde;
                    }
                   
                }
    
            }
            
        }
    }
    main{
        
        
        
        .tabla-resultados{
            width: auto;
            color: $azul;
            text-align: justify;
            tr{
                padding: 2px;
                border: solid 2px black;

            }
            td{
                padding: 2px;
                border: solid 1px black;
                background-color: $naranja;
            }
            th{
                padding: 5px;
                border: solid 1px black;
                text-align: center;
            }
        }
        
                
            

        

    }
}