$fondo: #AEAAFF;
$contenedores: #837DFA ;
$color-fuente: #110F3B ;
$contenedores2: #06007A ;

@import "torneos";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.body{
    background-color: $fondo;
    
    
    .header{
        background-color: $contenedores;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        
        
        
        
        
        
        .logo-estenis{
            
            text-align: center;
            flex-basis: 50px;
            img{
                width: 200px;
                border-radius: 15px;
                padding: 3px;
            }
            
        }
        .nav-bar{
            
            
            
            
            
            .lista-navbar{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding: 0;
                list-style: none;
                
                .item-lista{
                    background-color: $contenedores2;
                    text-align: center;
                    padding: 10px;
                    border-radius: 10px;
                    margin: 5px;
                    &:hover{
                        background-color: $color-fuente;
                    }
                    
                    .item-lista-link{
                        color: $color-fuente;
                        text-decoration: none;
                        &:hover{
                            color: $contenedores2   ;
                        }
                    }
                }
            }
        }
        .whatsapp-btn-container{
            background-color: aqua;
            flex-basis: 150px;
            text-align: center;
            .whatsapp-btn{
                color: $color-fuente;
                text-decoration: none;
                
                
            }
        }
    }
    
    #carouselExampleCaptions{
        width: 600px ;
        border: solid 3px #000000;
        margin: 5px auto;
        .carousel-inner{
            
            .carousel-item{
                
                .carousel-caption{
                    color: #000000;
                }
            }
        }
        
    }
    
    .footer{
        background-color: $contenedores;
        text-align: center;
        border: 1px solid $separadores ;
        margin-top: 25px;        
        .comercios-auspicios{
            .logo-comercio{
                width: 150px;
            }
        }
    }
    
}


@media screen and (max-width: 992px ) {
    .body{
        
        .header{
            background-color: $contenedores;
            display: block;
            justify-content: center;
            align-items: center;
            width: 100%;
            gap: 10px;
            .nav-bar{
                
                .lista-navbar{
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    
                }
            }
            .whatsapp-btn-container{
                
                .whatsapp-btn{
                    color: $color-fuente;
                    text-decoration: none;
                }
            }            
        }
        #carouselExampleCaptions{
            width: auto;
        }
    }
}