*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-rows: 100px 1fr 1fr 100px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "header header"
    "contenedor contenedor"
    "texto texto"
    "footer footer";
    background-color: #ffffff ;
    
}

.header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    background-color: white;
    
}
.logo-estenis img{
    width: 100px;
    height: 100px;
}
.lista-navbar{
    display: flex;
    list-style: none;
}
.item-lista{
    padding: 15px;
}


.contenedor{
    grid-area: contenedor;
    display: flex;      
    justify-content: center;

}
.contenedor-img1 img{
    width: 360px;
    border: 2px solid black;
}


.text{
    grid-area: texto;
    align-items: center;
}
h1{
   text-align: center;
    background-color: black;
    color: white;
}
.lista-partidos{
    text-align: center;
    list-style-type: none;
    
}


.comercios-auspicios{
    grid-area: footer;
    display: flex;
    width: 100px;
    height: 100px;
}
.logo-comercio{
    padding: 15px;
}